.emoji {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.status {
    font-size: 3em;
}

.acoes {
    display: flex;
    flex-direction: column;
}